---
import Header from "@components/Header.astro";
import Prose from "@components/Prose.astro";

import BaseLayoutMarkdown from "@layouts/BaseLayout-MarkDown.astro"

import { getCollection } from "astro:content";

export async function getStaticPaths(){
    const blogPosts = await getCollection("blog")  
  
    return blogPosts.map((post) => ({
        params: {slug: post.slug},
        props: { post }
    }))
}

const { post } = Astro.props
const { Content } = await post.render()
---
<Header/>
<BaseLayoutMarkdown>
    <main class="w-[90%] max-w-7xl mx-auto bg-green-500 grid grid-cols-1">
        
        <Prose>
            <Content/> 
        </Prose>
        
    </main>
</BaseLayoutMarkdown>