---
import ButtonDark from "./ButtonDark.astro"
---

<section class="w-[90%] max-w-screen-xl mx-auto my-4 rounded-lg grid place-content-center bg-slate-900 py-40 px-10 text-center text-white">
    <h1 class="text-5xl mb-6 font-bold bg-gradient-to-b from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent lg:7xl">Hogwarts News</h1>
    <h2 class="text-lg lg:text-2xl">Mantente al día con los eventos y noticias de nuestra escuela.</h2>
    <div class="mt-10">
        <ButtonDark url="/" name="Registrate"/>
    </div>
</section>

