---
import ButtonLight from "./ButtonLight.astro"
---

<section class="w-[90%] max-w-screen-xl mx-auto my-4 rounded-lg h-max bg-gradient-to-r from-cyan-500 to-blue-500 grid place-content-center py-40 px-10 text-center text-white">
    <h1 class="text-4xl lg:text-5xl bg-clip-text font-bold">Hogwarts News</h1>
    <h2 class="text-xl lg:text-2xl">Mantente al día con los eventos y noticias de nuestra escuela.</h2>
</section>
