---
import ButtonDark from "./ButtonDark.astro"
---

<section class="w-[90%] max-w-screen-xl mx-auto my-4 rounded-lg bg-slate-900 grid place-content-center py-40 px-10 text-center text-white">
    <h1 class="text-4xl mb-4 lg:text-5xl bg-clip-text font-bold">Hogwarts News</h1>
    <h2 class="text-lg lg:text-2xl">Mantente al día con los eventos y noticias de nuestra escuela.</h2>
    <div class="mt-10">
        <ButtonDark url="/" name="Registrate"/>
    </div>
</section>
