---
export interface Props{
    url: string;
    name: string;
}

const {url, name} = Astro.props;
---

<a class="border border-cyan-600 py-3 px-5 text-center rounded-md text-cyan-700 lg:text-sm" href={url}>{name}</a>
