---
export interface Props{
    url: string;
    name: string;
}

const btn_styles = "text-white text-center py-3 px-5 bg-cyan-500 rounded-md lg:text-sm"

const {url, name} = Astro.props;
---

<a class={btn_styles} href={url}>{name}</a>

