<article class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-lg">
    <div class="rounded-[10px] pt-20 p-6 bg-white">
        <h3 class="text-gray-500 text-sm mb-2">12 Mayo 2023</h3>
        <a href="">
            <h2 class="text-lg text-gray-600 font-semibold text-balance leading-tight mb-5">Estudio de Runas Antiguas: Descifrando el Misterio de las Marcas</h2>
        </a>
        <div class="flex gap-1 flex-wrap">
            <span class="rounded-full bg-purple-100 text-purple-700 text-xs py-0.5 px-3">Ravenclaw</span>
            <span class="rounded-full bg-purple-100 text-purple-700 text-xs py-0.5 px-3">Ravenclaw</span>
        </div>
    </div>
</article>