---
import NavLink from "./NavLink.astro";
import Logo from "./Logo.astro"
import ButtonDark from "./ButtonDark.astro";
import ButtonLight from "./ButtonLight.astro";
---

<nav class="h-16 mx-auto overflow-hidden max-w-screen-xl flex flex-row-reverse items-center justify-between">

    <div class="flex-1 text-center">
        <Logo/>
    </div>

    <label for="menu" class="bg-open-menu w-8 h-8 bg-cover bg-center cursor-pointer peer-checked:bg-close-menu transition-all z-50 lg:hidden">
    </label>
    <input class="peer hidden" type="checkbox" name="menu" id="menu"/>

    <div class="fixed inset-0 translate-x-full peer-checked:translate-x-0 transition-all lg:static lg:translate-x-0">
        <ul class="absolute inset-x-0 top-20 p-8 bg-transparent border border-cyan-500 w-[90%] mx-auto rounded-md h-max flex flex-col text-center gap-6 font-bold shadow-xl lg:static lg:w-max lg:p-0 lg:flex-row lg:shadow-none lg:border-none">

            <NavLink url="/gryffindor" name="Gryffindor"/>
            <NavLink url="/hufflepuff" name="Hufflepuff"/>
            <NavLink url="/ravenclaw" name="Ravenclaw"/>
            <NavLink url="/slytherin" name="Slytherin"/>

            <div class="flex flex-col-reverse gap-2 lg:hidden">
                <ButtonLight url="#" name="Register"/>
                <ButtonDark url="#" name="Login"/>
            </div>
        </ul>
    </div>

    <div class="hidden lg:flex gap-2">
        <ButtonLight url="/" name="Register"/>
        <ButtonDark url="/" name="Login"/>
    </div>

</nav>

<style>
</style>