---
export interface Props {
    url: string;
    name: string;
}

const { url, name } = Astro.props;
---
<li class=" text-cyan-600 lg:text-cyan-700">
    <a class="p-1 px-2 hover:lg:border-b-2 border-cyan-500 transition-" href={url}>
        {name}
    </a>
</li>
