---
// import { getCollection } from 'astro:content';
// const blogPosts = await getCollection('blog');

import '@fontsource/merriweather';
import Header from '@components/Header.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title></title>
	</head>
	<body class="w-[90%] max-w-7xl mx-auto">
		<Header/>
		<slot/>
	</body>
</html>
